body {
	margin:0;
	padding:0;
	background: #fff;
}
.toggle-col a{
	cursor: pointer;
	color:#3174c7;
}
.toggle-col a:hover{
	text-decoration: underline;
}
.search, .th-panel, .page-number{
	float: right;
}
.search input{
	margin-left: 2px;	
}
#dataNum {
	width: 40px;
}
#container{
	top: 60px;
	width: 100%;
	padding-bottom: 60px;
	position: absolute;
}
table, .page-area, .panel {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 90%;
}
table th {
    background-color: #aaa;
    color: white;
    cursor:pointer;
}
td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #eee;
}
.th-panel i{
	position:relative;
}
.th-panel .up{
	right:-13.76px;
	top:-4px;
}
.th-panel .down{
	top:4px;
}
.page-number{
	margin-top: 3px;
}
 .page-number a{
	padding:0.5em 1em;
	display: inline-block;
	margin-right: -2px;
	cursor: pointer;
}
.page-number .page-active{
	border: 1px solid #979797;
	color:#000 !important;
	background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) !important;
}
.page-number a:hover {
	border: 1px solid #979797;
	background:#333;
	color:white;
}
.selected{
	opacity: 0;
}
.selected.active{
	opacity: 1;
	color: #7a80dd;
}